
body{
	margin: 0;
	padding: 0;
	background-color: #ebeced
}

.box-third:hover, .full-photo:hover{
	opacity: .95;
	cursor: pointer;
}

.header-section h1 {
	color: #4c587f;
	margin-bottom: 0;
	font-size: 55px;
	font-family: 'cinzel', serif;
}

.header-section h2{
	color: #9ea6a3;
	font-weight: lighter;
    margin-top: 0;
    font-size: 25px;
}

.about-info h1 {
	color: #4c587f;
	margin-bottom: 0;
	font-size: 42px;
	font-family: 'cinzel', serif;
}

.about-info h2{
	color: #8e9693;
	font-weight: lighter;
    margin-top: 0;
    font-size: 20px;
}

.contact-head{
	color: #4c587f;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 35px;
}

.contact-head h1 {
	font-family: 'cinzel', serif;
}

p{
	color: #8e9693;
	font-weight: lighter;
	font-size: 14px;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #404040;
	color: #fff;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #595959;
}

.slide-section {
	max-width: 1100px;
	margin: 0 auto;
}

.section {
	max-width: 1250px;
	margin: 0 auto;
}

.standard-button{
	padding: 3px 5px 5px 5px;
    font-size: 15px;
    color: #595959;
    width: 40px;
    float: right;
    margin-right: 40px;
    margin-top: 3px;
    text-align: center;
}

.shop-button{
    padding: 3px 3px 2px 3px;
    font-size: 14px;
    color: #fff;
    background-color: #4c586f;
    width: 70px;
	float: right;
	margin-left: 15px;
    margin-right: 25px;
    margin-top: 3px;
    text-align: center;;
}

.shop-button:hover{
	cursor: pointer;
	text-decoration: underline;
}

.shop-link:link{
	color: #fff;
	text-decoration: none;
}

.shop-link:visited{
	color: #fff;
}

.standard-button:hover{
	text-decoration: underline;
	cursor: pointer;
}

.standard-link:link{
	color: #595959;
	text-decoration: none;
}
.standard-link:visited {
	color: #595959;
}

.header-section{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.box-third{
	height: 260px;
	width: 33.33%;
	background-color: grey;
	float: left;
	background-size: cover;
    background-position: center;
}

.top-section{
	height: 260px;
	margin-bottom: 10px;
}

.top-one{
	background-image: url('photos/photo-one.jpg');
}

.top-two{
	background-image: url('photos/photo-two.jpg');
	margin-left: 10px;
    margin-right: 10px;
    width: calc(33.33% - 20px);
}

.top-three{
	background-image: url('photos/photo-three.jpg');
}

* {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	font-family: 'montserrat', 'sans-serif';
}

.container {
	position: relative;
}

.mySlides {
	display: none;
}

.cursor {
	cursor: pointer;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container {
	text-align: center;
	background-color: #4c586f;
	padding: 2px 16px;
	color: white;
}

#caption {
	font-family: 'cinzel', serif;
	font-weight: bold;
}

.slide-row:after {
	content: "";
	display: table;
	clear: both;
}

.slide-column {
	float: left;
	width: 16.66%;
}

.mySlides img {
	width: 100%;
	height: 700px;
}

.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}

.top-nav{
	height: 30px;
	background-color: #a2aab9;
}

.footer-button-one {
	text-align: center;
	margin-bottom: 0;
	font-size: 14px;
	color: #b3b3b3;
	padding-top: 10px;
}

.footer-button-two {
	text-align: center;
	margin-top: 0;
	font-size: 14px;
	color: #9ea6a3;
	padding-bottom: 10px;
}

.footer-button-one:hover {
	color: #808080;
}

.footer-button-two:hover {
	text-decoration: underline;
	cursor: pointer;
	color: #808080;
}

.footer-link-two:link{
	color: #9ea6a3;
	text-decoration: none;
}

.footer-link-two:visited {
	color: #9ea6a3;
}

.footer-link-two:hover {
	color: #9ea6a3;
}

.footer {
	height: 30px;
	background-color: #a2aab9;
}

.about-photo{
	margin-top: 20px;
	margin-left: 185px;
	margin-right: 75px;
	width: 35%;
	background-image: url('photos/about.jpg');
	height: 550px;
	background-size: cover;
	clear: both;
	background-position: center;
	float: left;
}

.about-page{
	height: 550px;
	margin-bottom: 40px;
}

.about-info{
	text-align: center;
	line-height: 1.9;
	word-spacing: 3px;
	width: 90%;
	padding: 95px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
}

@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}

.port-one {
	background-image: url('photos/about.jpg');
}

.insta-button {
	float: left;
	margin-top: 3px;
	margin-left: 10px;
}

.insta-button img {
	height: 23px;
	width: 23px;
}

.contact-form {
	max-width: 900px;
	border-radius: 5px;
	background-color: #7c889f;
	padding: 20px;
	margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
	.port-column {
		width:100%;
	}
}

@media (max-width: 1000px) {
	.slide-section .mySlides img{
		width: 100%;
		height: 500px;
	}
}

@media (max-width: 700px) {
	.slide-section .mySlides img{
		width: 100%;
		height: 300px;
	}
}

@media screen and (max-width: 1000px) {
	.about-page {
		height: 700px;
		
	}
}

@media screen and (max-width: 1000px) {
	.about-info {
		width: 600px;
		margin-left: 80px;
	}
}

@media screen and (max-width: 1000px) {
	.about-photo {
		width: 500px;
		height: 350px;
		margin-left: 135px;
	}
}

@media screen and (max-width: 700px) {
	.about-page {
		height: 875px;
	}
}

@media screen and (max-width: 700px) {
	.about-info {
		width: 425px;
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px) {
	.about-photo {
		width: 300px;
		height: 250px;
		margin-left: 60px;
	}
}

@media screen and (max-width: 700px) {
	.standard-button {
		padding: 3px 5px 5px 5px;
		font-size: 15px;
		color: #595959;
		width: 40px;
		float: right;
		margin-right: 30px;
		margin-top: 3px;
		text-align: center;
	}
}

@media screen and (max-width: 700px) {
	.shop-button {
		padding: 3px 3px 2px 3px;
		font-size: 14px;
		color: #fff;
		background-color: #4c586f;
		width: 70px;
		float: right;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 3px;
		text-align: center;;
	}
}