

body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

.box-third:hover, .full-photo:hover{
	opacity: .95;
	cursor: pointer;
}

h1 {
	color: #808080;
	margin-bottom: 0;
	font-size: 30px;
}

h2{
	color: #b3b3b3;
	font-weight: lighter;
    margin-top: 0;
    font-size: 20px;
}

p{
	color: #b3b3b3;
	font-weight: lighter;
	font-size: 14px;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #404040;
	color: #fff;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #595959;
}

.slide-section {
	max-width: 1100px;
	margin: 0 auto;
}

.section {
	max-width: 1250px;
	margin: 0 auto;
}

.standard-button{
	padding: 5px;
    font-size: 10px;
    color: #595959;
    width: 40px;
    float: right;
    margin-right: 20px;
    margin-top: 3px;
    text-align: center;
}

.shop-button{
    padding: 5px;
    font-size: 9px;
    font-weight: bold;
    color: #fff;
    background-color: #404040;
    width: 70px;
	float: right;
	margin-left: 5px;
    margin-right: 10px;
    margin-top: 3px;
    text-align: center;;
}

.shop-button:hover{
	cursor: pointer;
	text-decoration: underline;
}

.shop-link:link{
	color: #fff;
	text-decoration: none;
}

.shop-link:visited{
	color: #fff;
}

.standard-button:hover{
	text-decoration: underline;
	cursor: pointer;
}

.standard-link:link{
	color: #595959;
	text-decoration: none;
}
.standard-link:visited {
	color: #595959;
}

.header-section{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.box-third{
	height: 260px;
	width: 33.33%;
	background-color: grey;
	float: left;
	background-size: cover;
    background-position: center;
}

.top-section{
	height: 260px;
	margin-bottom: 10px;
}

.top-one{
	background-image: url('photos/photo-one.jpg');
}

.top-two{
	background-image: url('photos/photo-two.jpg');
	margin-left: 10px;
    margin-right: 10px;
    width: calc(33.33% - 20px);
}

.top-three{
	background-image: url('photos/photo-three.jpg');
}

/* .full-photo {
	margin-top: 10px;
	width: 100%;
	background-image: url('photos/photo-four.jpg');
	height: 600px;
	background-size: cover;
	clear: both;
	background-position: center;
} */

* {
	box-sizing: border-box;
}

.container {
	position: relative;
}

.mySlides {
	display: none;
}

.cursor {
	cursor: pointer;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}

.slide-row:after {
	content: "";
	display: table;
	clear: both;
}

.slide-column {
	float: left;
	width: 16.66%;
}

.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}

.top-nav{
	height: 30px;
	background-color: #cccccc;
}

.footer-button-one {
	text-align: center;
	margin-bottom: 0;
	font-size: 14px;
	color: #b3b3b3;
	padding-top: 10px;
}

.footer-button-two {
	text-align: center;
	margin-top: 0;
	font-size: 14px;
	color: #b3b3b3;
	padding-bottom: 10px;
}

.footer-button-one:hover {
	text-decoration: underline;
	cursor: pointer;
	color: #808080;
}

.footer-button-two:hover {
	text-decoration: underline;
	cursor: pointer;
	color: #808080;
}

.footer-link-two:link{
	color: #b3b3b3;
	text-decoration: none;
}

.footer-link-two:visited {
	color: #b3b3b3;
}

.footer-link-two:hover {
	color: #808080;
}

.footer {
	height: 30px;
	background-color: #cccccc;
}

.about-photo{
	margin-top: 20px;
	margin-left: 185px;
	margin-right: 75px;
	width: 35%;
	background-image: url('photos/about.jpg');
	height: 550px;
	background-size: cover;
	clear: both;
	background-position: center;
	float: left;
}

.about-page{
	height: 550px;
	margin-bottom: 40px;
}

.about-info{
	text-align: center;
	line-height: 1.9;
	word-spacing: 3px;
	width: 90%;
	padding: 95px;
	float: center;
}

/* .port-column{
	text-align: center;
	float: left;
	width: 32%;
	height: 100%;
	margin-left: 16px;
	margin-bottom: 2px;
}

.port-row:after {
	content: "";
	display: table;
	clear: both;
} */

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
}

@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}

/* #myImg {
	cursor: pointer;
	transition: 0.3s;
}

#myImg:hover {
	opacity: 0.7;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

#modal-caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content, #modal-caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoon {
	from {-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 700px){
	.modal-content {
		width: 100%
	}
} */

.port-one {
	background-image: url('photos/about.jpg');
}

.insta-button {
	float: left;
	margin-top: 3px;
	margin-left: 10px;
}

.contact-form {
	max-width: 900px;
	border-radius: 5px;
	background-color: #cccccc;
	padding: 20px;
	margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
	.port-column {
		width:100%;
	}
}

@media (max-width: 767px) {
	.top-one, .top-two, .top-three, .full-photo {
		width: 100%;
		height: 200px;
		margin-left: 0;
		margin-bottom: 10px;
		text-align: center;
	}
}

@media (max-width: 1025px) {
	.top-one, .top-two, .top-three, .full-photo {
		width: 100%;
		height: 200px;
		margin-left: 0;
		margin-bottom: 10px;
		text-align: center;
	}
}